<form id="add-record" class="form-inline">
  <fieldset>
    <legend>Add a Record</legend>
    <input type="text" name="name" placeholder="Student Name">
    <input type="text" name="grade" placeholder="Grade">
    <button type="submit" class="btn">Submit</button>
  </fieldset>
</form>

<div class="row-fluid">
  <div class="span8">
    <section id="records" class="records">
      <table class="table">
        <thead>
          <tr>
            <th>Student</th>
            <th>Grade</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {{#each models}}
            <tr>
              {{view "students/index" model_name="Student" model=this}}
            </tr>
          {{/each}}
        </tbody>
      </table>
    </section>
  </div>

  <div class="span4">
    <section id="stats">
      <table class="table">
        <thead>
          <tr>
            <th>Max Grade</th>
            <th>Min Grade</th>
            <th>Average Grade</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td id="maxGrade">{{collection.getMaxGrade}}</td>
            <td id="minGrade">{{collection.getMinGrade}}</td>
            <td id="avgGrade">{{collection.getAvgGrade}}</td>
          </tr>
        </tbody>
      </table>
    </section>
  </div>

</div>

