<td>
  <input type="text" data-name="name" value="{{name}}" />
</td>
<td>
  <input type="text" data-name="grade" value="{{grade}}" />
</td>
<td>
  <a class="btn" href="/students/{{_id}}">view</a>
  <a class="btn btn-danger remove" href="">remove</a>
</td>
