@import 'vendor/bootstrap.min.css'

.records input
  border 1px solid #fff
  background-color transparent
  box-shadow none

.records input.editing
  background-color #fff

.records input.error
  border-color #b94a48
  background-color #f2efef
  
.records .warning input
  border 1px solid #fcf8e3

.records .warning input.error
  border-color #b94a48

input
  background-color transparent

input.error
  border-color #b94a48
  background-color #f2efef


