<!doctype html>
<html lang="en">

  <head>
    <meta charset='utf-8'/>
    <title>Testscores app</title>

    <link href="/styles.css" media="screen" rel="stylesheet" type="text/css" />
  </head>

  <body class="">

    <section class="container">
      <section class="page-header">
        <h1>Alright, let's do this! </h1>
      </section>

      <div id="alert" class="alert" style="display:none">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <span id="alert-error"><span>
      </div>
    </section>

    <section id="content" class="container">
      {{{body}}}
    </section>

    <script src="/mergedAssets.js"></script>
    <script>
    (function() {
      var App = window.App = new (require('app/app'))({{json appData}});
      App.bootstrapData({{json bootstrappedData}});
      App.start();
    })();
    </script>

  </body>

</html>
